.DayPicker {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.DayPicker__withBorder {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.DateInput_fang {
    display: none;
}

/*
.DayPicker > div > div { width: 375px !important; }
.DayPicker {
    width: 375px !important;
    height: 375px !important;

}

.DayPicker_transitionContainer {
    width: auto !important;
}
.DayPicker_transitionContainer {
    width: 375px !important;
    height: 375px !important;
}
.DayPicker_weekHeader_li {
    width: 48px !important;
}

.CalendarMonth {
    padding: 0px !important;
}

.CalendarMonth_table {
    border-collapse: separate;
    border-spacing: 8px;
}
.CalendarDay__default {
background: rgb(237, 246, 246);
color: rgb(0, 132, 137);
border: 2px solid rgb(255, 255, 255);
border-radius: 7px;
padding: 0px;
}
*/

.DayPickerNavigation_button__default:hover,
.DayPickerNavigation_button__default {
    border: none;
}
.DayPickerKeyboardShortcuts_buttonReset {
    display: none;
}

